*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    font-weight: 600;
}
html{
    font-family: 'Dosis', sans-serif;
    font-size: 12px;
}
section{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
    background-image: url("https://wallpaper-mania.com/wp-content/uploads/2018/09/High_resolution_wallpaper_background_ID_77700652890.jpg");
}
.container{
    width: 90%;
    height: auto;
    max-width: 1200px;
    margin: 0 auto;
}
.brand{
    text-align: center;
    font-size: 4rem;
    color: #8D6E63;
    margin-bottom: 30px;
}
form{
    width: 90%;
    max-width: 400px;
    margin: 20px auto;
    background-color: rgb(250, 236, 218);
    border-radius: 4px;
}
form input{
    width: 90%;
    background-color: transparent;
    padding: 10px;
    border-radius: 4px;
    border: none;
    outline: none;
    font-size: 2rem;
    display: inline-block;
}
form ion-icon{
    width: 9%;
    font-size: 3rem;
    margin: -9px;
    color: #8D6E63;
}
.search-result{
    margin-top: 50px;
    width: 100%;
    display: grid;
    grid-gap: 25px;
    grid-template: auto / repeat(auto-fit, minmax(300px, 1fr));
}
.item{
    width: 100%;
    border-radius: 8px;
    background-color: rgb(250, 236, 218);
    padding: 15px;
    overflow: hidden;
}
.item img{
    width: 100%;
    height: 300px;
    border-radius: 4px;
}
.item .flex-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.item .title{
    color: #8D6E63;
    margin: 20px 10px 0 0;
    font-size: 1.8rem;
    font-weight: 400;
}
.view-button{
    text-decoration: none;
    text-align: center;
    width: 130px;
    padding: 10px 0;
    background-color: rgb(248, 222, 187);
    color: #8D6E63;
    font-size: 1.4rem;
    margin-top: 20px;
    align-self: flex-start;
}
.item-data{
    color: #8D6E63;
    display: block;
    margin-top: 10px;
    font-size: 1.4rem;
    letter-spacing: .05rem;
    line-height: 2rem;
}